acl "allow_recursive_queries" {
    127.0.0.1;
    ::1;
    {{ cluster_ipv4net }};
};

acl "allow_zone_transfers" {
    127.0.0.1;
    ::1;
};

options {
    listen-on port 53 {
        127.0.0.1;
	{{ ipv4address }};
    };
    listen-on-v6 port 53 {
        ::1;
    };
    directory "/var/named";
    dump-file "/var/named/data/cache_dump.db";
    statistics-file "/var/named/data/named_stats.txt";
    memstatistics-file "/var/named/data/named_mem_stats.txt";
    secroots-file "/var/named/data/named.secroots";
    recursing-file "/var/named/data/named.recursing";

    allow-query {
        allow_recursive_queries;
    };
    allow-transfer {
        allow_zone_transfers;
    };

    recursion yes;
    # forwarders {
    #     1.1.1.1;
    #     1.0.0.1;
    # };
    # forward only;

    dnssec-enable yes;
    dnssec-validation yes;

    managed-keys-directory "/var/named/dynamic";

    pid-file "/run/named/named.pid";
    session-keyfile "/run/named/session.key";

    # https://fedoraproject.org/wiki/Changes/CryptoPolicy
    include "/etc/crypto-policies/back-ends/bind.config";
};

logging {
    channel default_debug {
        file "data/named.run";
        severity dynamic;
    };
};

zone "{{ cluster_domain }}" {
    type master;
    file "/etc/named/zones/db.{{ cluster_domain }}";
};

zone "{{ cluster_revdns4  }}" {
    type master;
    file "/etc/named/zones/db.{{ cluster_revdns4 }}";
};

zone "." IN {
    type hint;
    file "named.ca";
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";
