NAME="{{ cluster_ifname }}"
DEVICE="{{ cluster_ifname }}"
UUID="{{ ifcfg.uuid }}"
ONBOOT="yes"
AUTOCONNECT_PRIORITY="-999"
HWADDR="{{ ifcfg.hwaddr }}"
TYPE="Ethernet"
PROXY_METHOD="none"
BROWSER_ONLY="no"
BOOTPROTO="none"
DOMAIN="{{ cluster_domain }}"

IPV4_FAILURE_FATAL="no"
DEFROUTE="no"

IPV6INIT="yes"
IPV6ADDR="{{ ifcfg.address6 }}"
IPV6_AUTOCONF="no"
IPV6_FAILURE_FATAL="yes"
IPV6_DEFAULTGW="public_ipv6_gateway"
IPV6_DEFROUTE="yes"

DNS1=2606:4700:4700::1111
DNS2=2606:4700:4700::1001
